<mat-grid-list cols="1" rowHeight="100">
  <mat-grid-tile colspan="1" rowspan="3"> 
    <img src="assets/seilbahn.jpg">
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button mat-fab style="margin: 5px; -webkit-touch-callout: none; -moz-user-select: none;" (click)="onStartLeft()">
      <mat-icon style="font-size: 42px; display: flex; align-items: center; justify-content: center;">replay_5</mat-icon>
    </button>
    <button mat-fab style="margin: 5px; -webkit-touch-callout: none; -moz-user-select: none;" (click)="onStop()">
      <mat-icon  style="font-size: 36px; display: flex; align-items: center; justify-content: center;">stop</mat-icon>
    </button>
    <button mat-fab style="margin: 5px; -webkit-touch-callout: none; -moz-user-select: none;" (click)="onStartRight()">
      <mat-icon  style="font-size: 42px; display: flex; align-items: center; justify-content: center;">forward_5</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">   
    <button mat-fab color="basic" style="margin: 5px" (click)="onSlower()">
      <mat-icon>exposure_neg_1</mat-icon>
    </button>
    <mat-form-field appearance="outline" color="basic" style="width: 115px; height: 75px; text-align: center" > 
      <mat-label>Geschwindigkeit</mat-label>
      <input matInput disabled=true [value]="speed" style="font-size: 24px" > 
    </mat-form-field>
    <button mat-fab color="basic" style="margin: 5px" (click)="onFaster()">
      <mat-icon>exposure_plus_1</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
